{% extends 'base.html.twig' %}

{% block title %}Edit your impression{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <h2>Edit your impression of the movie <br>
            {{ impression.getMovie().name }}</h2>

        {{ form_start(form) }}
        {{ form_row(form.content) }}
            <button class="btn btn-info" type="submit">Add your impression</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
